.four ul {
  display: -webkit-flex; 
  display: flex;
  background: #ccc;
  padding-left: 0;
}
.four a {
  padding: 1em;
  display: block;
  color: #9B4222;
  border-right: 1px solid #FFAB51;
  background: rgba(255, 171, 81, .3);
}
.four a:hover {background: #ccc}
 